{% extends "base.html" %}
{% load static %}
{% block css_file_name %}{% static 'css/login.css' %}{% endblock %}
{% block content %}
{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</li>
        {% endfor %}
</ul>
{% endif %}

<h2>User Login</h2>
<form method="post" class="login_form">
    {% csrf_token %}
    <div class="input-wrapper">
        {{ login_form.email }}
    </div>
    <div class="input-wrapper">
        {{ login_form.password }}
    </div>
    <p><a href="{% url 'forgot-password' %}"></a>Forgot Password?</p>
    <button type="submit">Login</button>
</form>
{% endblock %}