{% extends "base.html" %}
{% load static %}
{% block css_file_name %}{% static 'css/forms.css' %}{% endblock %}
{% block content %}


<form method="post" class="registration-form">
    <h2>User Registration</h2>
    {% csrf_token %}
    <div class="input-wrapper">
        {{ form.first_name }}
    </div>
    <div class="input-wrapper">
        {{ form.last_name }}
    </div>
    <div class="input-wrapper">
        {{ form.email }}
    </div>
    <div class="input-wrapper">
        {{ form.contact_number }}
    </div>
    <div class="input-wrapper">
        {{ form.dob }}
    </div>
    <div class="input-wrapper">
        {{ form.password }}
    </div>
    <div class="input-wrapper">
        {{ form.confirm_password }}
    </div>
    <button type="submit">Register</button>
    <p class="login-account">Already have an account? <a href="{% url 'login' %}">Login</a></p>
</form>

{% endblock %}