{% extends "base.html" %}
{% load static %}
{% block css_file_name %}{% static 'css/forms.css' %}{% endblock %}
{% block page_title %}Password Reset{% endblock %}
{% block content %}
<h2 class="title">Password Reset</h2>
<form method="post" action="{% url 'password_reset_confirm' uidb64=uid token=token %}" class="forgot-password-form">
    <h2>Enter your new password</h2>
    {% csrf_token %}
    <div class="input-wrapper">
        <input type="password" name="new_password1" placeholder="New password" autocomplete="new-password" required="">
    </div>
    <div class="input-wrapper">
        <input type="password" name="new_password2" placeholder="Confirm new password" autocomplete="new-password"
            required="">
    </div>
    {% if messages %}
    <div class="error-msg">
        {% for message in messages %}
        <p{% if message.tags %} class="{{ message.tags }} err-center" {% endif %}>{{ message }}</p>
            {% endfor %}
    </div>
    {% endif %}
    <button type="submit">
        Reset My Password
    </button>
</form>
<p class="info-text">Please contact us if you have any trouble resetting your password.</p>
{% endblock content %}