{% extends "base.html" %}
{% load static %}
{% block css_file_name %}{% static 'css/forms.css' %}{% endblock %}
{% block page_title  %}Password Reset{% endblock %}
{% block content %}

<!-- checked icon  -->
<div class="reset-password" >
    <div class="checked-icon">
        <img src="{% static 'assets/checked.png' %}" alt="checked">
    </div>
    <h2>Password Reset Email Sent</h2>
    <p class="info-text">We have sent you an email with a link to reset your password. Please check your email and follow the instructions.</p>
    <p class="info-text">If you don't receive an email within a few minutes, please check your spam folder.</p>
    <p class="info-text">Please contact us if you have any trouble resetting your password.</p>
    <a href="/login/" class="button">Return to Login</a>
</div>
{% endblock content %}