{% extends "base.html" %}
{% load static %}
{% block title %}Attended Events | SEMS{% endblock %}
{% block page_title %}Attended Events{% endblock %}
{% block css_file_name %}{% static 'css/style.css' %}{% endblock %}
{% block banner_image_src %}{% static 'assets/full-page-img.jpg' %}{% endblock %}
{% block menu %}
{% include 'profile/sidebar.html' %}
{% endblock %}
{% block content %}

{% if ticket_purchase %}
<!-- Display the attended events -->
<section class="main-container">
    <div class="ticket-container">
        <!-- Loop through the attended events -->
        {% for ticket in ticket_purchase %}
        <div class="ticket-wrap">
            <div class="ticket" style="background-image: url('{{ ticket.event.image.url }}')">
                <a href="{% url 'event-details' ticket.event.id %}">{{ ticket.event.title }}</a>
                <div class="ticket-overlay"></div>
            </div>
        </div>
        {% endfor %}
    </div>
    {% else %}
    <!-- Display a message if the user has not attended any events -->
    <div class="no-attended-events">
        <p class="no-ticket-info">You have not attended any events yet.</p>
        <a href="{% url 'events-categories' %}">Browse Events</a>
    </div>
    {% endif %}

    {% endblock %}