{% load static %}
<header>
    <div class="wrapper">
        <div class="logo">
            <a href="{% url 'index' %}"><img src="{% static 'assets/logo-white.png' %}" alt="Sajilo Events"></a>
        </div>
        <div>
            <a href=" {% url 'profile' %}" class="profile">
                <div class="profile-picture">
                    <img src="{% if user.profile_picture %}/{{ user.profile_picture }}{% else %}{% static 'assets/rajat_sapkota.png' %}{% endif %}" alt="p_p">
                </div>
                <div class="profile-details">
                    <span>{{ user.first_name }}</span>
                </div>
            </a>
        </div>
    </div>
</header>