{% extends "profile/base.html" %}
{% load static %}
{% block css_file_name %}{% static 'css/profile.css' %}{% endblock %}
{% block title %}Profile{% endblock %}
{% block profile-title %}Profile{% endblock %}
{% block content %}
<div class="cards">
    <div class="card">
        <div class="card-header">
            <h2>Basic Information</h2>
            <div class="edit-icon">
                <a href="{% url 'edit_profile' %}"><img src="{% static 'assets/edit-icon.svg' %}" alt="Edit"></a>
            </div>
        </div>
        <div class="card-body">
            <div class="card-details">
                <div class="detail">
                    <p class="label">Full Name</p>
                    <p>{{ user.first_name }} {{ user.last_name }}</p>
                </div>
                <div class="detail">
                    <p class="label">Email</p>
                    <p>{{ user.email }}</p>
                </div>
                <div class="detail">
                    <p class="label">Number</p>
                    <p>{{ user.contact_number }}</p>
                </div>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-header">
            <h2>Basic Information</h2>
            <div class="edit-icon">
                <a href="{% url 'edit_profile' %}"><img src="{% static 'assets/edit-icon.svg' %}" alt="Edit"></a>
            </div>
        </div>
        <div class="card-body">
            <div class="card-details">
                <div class="detail">
                    <p class="label">Address</p>
                    <p>
                        {% if user.profile.address %}
                        {{ user.profile.address }}
                        {% else %}
                        Kathmandu, Nepal
                        {% endif %}
                    </p>
                </div>
                <div class="detail">
                    <p class="label">DOB</p>
                    <p>{{ user.dob }}</p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}