{% load static %}

<li><a href="{% url 'profile' %}">Profile</a></li>

{% if user.is_staff %}
<!-- Display staff-specific options -->
<li><a href="{% url 'assigned_tasks' %}">Assigned Tasks</a></li>
<li><a href="{% url 'work_history' %}">Work History</a></li>
<!-- active status -->
{% else %}
<!-- Display end user-specific options -->
<li><a href="{% url 'attended_events' %}">Attended Events</a></li>
<li><a href="{% url 'ticket_history' %}">Ticket History</a></li>
<li><a href="{% url 'account_settings' %}">Account Settings</a></li>
{% endif %}

<li><a href="{% url 'logout_confirmation' %}">Logout</a></li>