{% extends "base.html" %}
{% load static %}
{% block title %}Ticket History | SEMS{% endblock %}
{% block page_title %}Ticket History{% endblock %}
{% block css_file_name %}{% static 'css/style.css' %}{% endblock %}
{% block banner_image_src %}{% static 'assets/full-page-img.jpg' %}{% endblock %}
{% block menu %}
{% include 'profile/sidebar.html' %}
{% endblock %}
{% block content %}
<section class="main-container">
    {% if grouped_ticket_purchases %}
    <div class="ticket-container">
        {% for event_id, ticket_purchases in grouped_ticket_purchases.items %}
        {% for ticket_purchase in ticket_purchases %}
        <div class="ticket-wrap">
            <div class="ticket" style="background-image: url('{{ ticket_purchase.event.image.url }}')">
                <a href="{% url 'event-details' ticket_purchase.event.id %}">{{ ticket_purchase.event.title }}</a>
                <div class="ticket-overlay"></div>
            </div>
            <div class="ticket-details">
                <div class="price-and-buy">
                    <!-- quantity -->
                    <p class="ticket-quantity">{{ ticket_purchase.quantity }} tickets</p>
                    <a href="{% url 'download-ticket' ticket_purchase.id %}" class="buy-ticket-btn">Download</a>
                </div>
            </div>
        </div>
        {% endfor %}
        {% endfor %}
    </div>
</section>
{% else %}
<div class="no-tickets">
    <p>You have not purchased any tickets yet.</p>
    <a href="{% url 'events-and-tickets' %}">Browse Events</a>
</div>
{% endif %}
{% endblock %}