{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="{% static 'assets/icon.png' %}">
    <title>{% block title %}Sajilo Events | SEMS{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% block css_file_name %}{% endblock %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Truculenta:opsz,wght@12..72,100..900&display=swap"
        rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Truculenta:opsz,wght@12..72,100..900&display=swap"
        rel="stylesheet">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&family=Oswald:wght@200..700&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Truculenta:opsz,wght@12..72,100..900&display=swap"
        rel="stylesheet">

</head>

<body>
    {% include 'header.html' %}
    <div class="container">
        <div class="banner-image-wrap">

            {% if request.path == '/' %}
            <div class="full-page-image">
                <img src="{% static 'assets/full-page-img-2.jpg' %}" alt="Full Page Image">
            </div>
            {% else %}
            <div class="banner-image">
                <img src="{% block banner_image_src %}{% static 'assets/placeholder-banner.png' %}{% endblock %}"
                    alt="Banner Image">
                <h1 class="title">{% block page_title %}{% endblock %}</h1>
            </div>
            {% endif %}
            <!-- menu -->
            <div class="menu">
                <ul>
                    {% block menu %}
                    {% endblock %}
                </ul>
            </div>
        </div>
        <div class="content">
            {% block content %}
            {% endblock %}
        </div>
    </div>
    {% include 'footer.html' %}
</body>

</html>