{% load static %}
<footer>
    <div class="wrapper">
        <div class="follow-link">
            <p>Follow us on instagram <a target="_blank" href="https://instagram.com/">@SEMS_Sajiloevents</a></p>
        </div>
        <div class="logo">
            <a href="{% url 'home' %}"><img src="{% static 'assets/logo-white.png' %}" alt="Sajilo Events"></a>
        </div>
        <div class="copy-right">
            <p>© 2024 Sajilo Events. All Rights Reserved.</p>
        </div>
    </div>
</footer>