{% load static %}
<header>
    <div class="wrapper">
        <div class="logo">
            <a href="{% url 'index' %}"><img src="{% static 'assets/logo.png' %}" alt="Sajilo Events"></a>
        </div>
        <nav>
            <ul>
                <li><a href="{% url 'index' %}">Home</a></li>
                <li><a href="{% url 'events-and-tickets' %}">Events & Tickets</a></li>
                <li><a href="{% url 'plan-your-visit' %}">Plan Your Visit</a></li>
                <li><a href="{% url 'about-us' %}">About Us</a></li>
            </ul>
            <div class="btn">
                <a href="{% url 'login' %}">Sign in</a>
            </div>
        </nav>
    </div>
</header>