{% extends "base.html" %}
{% load static %}
{% block css_file_name %}{% static 'css/forms.css' %}{% endblock %}
{% block page_title  %}Login{% endblock %}
{% block content %}



<form method="post" class="login-form">
    <h2>User Login</h2>
    {% csrf_token %}
    <div class="input-wrapper">
        {{ login_form.username }}
    </div>
    <div class="input-wrapper">
        {{ login_form.password }}
    </div>
    <a href="{% url 'password_reset' %}" class="forgot-password">Forgot Password?</a>
    <button type="submit">Login</button>
    <p class="register-account">Don't have an account? <a href="{% url 'register' %}">Register</a></p>
    {% if messages %}
    <div class="error-msg">
        {% for message in messages %}
        <p{% if message.tags %} class="{{ message.tags }} err-center" {% endif %}>{{ message }}</p>
        {% endfor %}
    </div>
    {% endif %}
</form>
{% endblock %}