{% extends 'base.html' %}
{% load static %}
{% block title %}Logout{% endblock %}
{% block profile-title %}Logout | SEMS{% endblock %}
{% block css_file_name %}{% static 'css/profile.css' %}{% endblock %}
{% block menu %}
{% include 'profile/sidebar.html' %}
{% endblock %}

{% block content %}
<div class="logout">
    <h2>Are you sure you want to logout?</h2>
    <div class="buttons">
        <a href="{% url 'logout' %}" class="btn btn-primary">Yes</a>
        <a href="{% url 'profile' %}" class="btn btn-secondary">No</a>
    </div>
</div>
{% endblock %}