{% extends "base.html" %}
{% load static %}
{% block title %}Buy Ticket | SEMS{% endblock %}
{% block page_title %}Buy Ticket{% endblock %}
{% block css_file_name %}{% static 'css/buy-tickets.css' %}{% endblock %}
{% block menu %}
<li><a href="{% url 'events-categories' %}">Events</a></li>
<li><a href="{% url 'tickets' %}">Tickets</a></li>
{% endblock %}
{% block banner_image_src %}{% static 'assets/full-page-img.jpg' %}{% endblock %}
{% block content %}
<section class="buy-tickets-wrap">
    <div class="buy-tickets">
        <h2>{{ event.title }}</h2>
        <!-- Display relevant event details -->
        <table class="event-details-table">
            {% if event.ticket_price %}
            <tr>
                <td><strong>Ticket Price:</strong></td>
                <td>${{ event.ticket_price|floatformat:0 }} per ticket</td>
            </tr>
            {% else %}
            <tr>
                <td><strong>Ticket Price:</strong></td>
                <td>Free</td>
            </tr>
            {% endif %}
            {% if event.capacity %}
            <tr>
                <td><strong>Event Capacity:</strong></td>
                <td>{{ event.capacity }} seats</td>
            </tr>
            {% endif %}
            <tr>
                <td><strong>Tickets Available:</strong></td>
                <td>
                    {% if event.ticket_available %}
                    <span class="available">Available</span>
                    {% else %}
                    <span class="not-available">Not Available</span>
                    {% endif %}
                </td>
            </tr>
        </table>
    </div>
    {% if user_has_purchased_tickets %}
    <p class="already-purchased-message">You have purchased {{ ticket_purchased }} tickets for this event.
        <a href="{% url 'ticket_history' %}">View Tickets
            <svg stroke="currentColor" fill="currentColor" stroke-width="0" viewBox="0 0 16 16" height="1em" width="1em"
                xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd"
                    d="M6.5 4a.5.5 0 01.5-.5h5a.5.5 0 01.5.5v5a.5.5 0 01-1 0V4.5H7a.5.5 0 01-.5-.5z"
                    clip-rule="evenodd"></path>
                <path fill-rule="evenodd"
                    d="M12.354 3.646a.5.5 0 010 .708l-9 9a.5.5 0 01-.708-.708l9-9a.5.5 0 01.708 0z" clip-rule="evenodd">
                </path>
            </svg>
        </a>
    </p>

    {% endif %}
    {% if event.ticket_price %}
    {% if event.ticket_available %}
    <div class="buy-tickets-form">
        <form action="{% url 'buy-tickets' event.id %}" method="post">
            {% csrf_token %}
            <div class="form-group">
                <label for="quantity">Quantity:</label>
                <!-- get the available quantity of ticket -->
                <input type="number" name="quantity" id="quantity" min="1" max="{{ event.capacity }}" value="1"
                    required>
            </div>
            <!-- total price  -->
            <div class="form-group">
                <label for="total_price">Total Price:</label>
                <input type="text" name="total_price" id="total_price" value="${{ event.ticket_price|floatformat:0 }}"
                    readonly>
            </div>
            <div id="paypal-button-container"></div>
        </form>
    </div>
    {% else %}
    <p class="not-available-message">Tickets for this event not available at the moment.</p>
    {% endif %}
    {% else %}
    <p class="free-ticket-message">This event is free to attend.</p>
    {% endif %}
    {% if event.ticket_price %}
    {% if event.ticket_available %}
    <script src="{% static 'js/buy-tickets.js' %}"></script>
    <script
        src="https://www.paypal.com/sdk/js?client-id=AbSH0Uc8z71rIeTg8ECQP3ObKRNgjVDYMYufDQcI3TZHRaNHXmYlHYP-b-9NyMR8qltZ10uBnYXdILOh&currency=USD"></script>
    <script>
        // get the value from the input field split it and get the second value
        var totalPrice = parseFloat(document.getElementById('total_price').value.split('$')[1]);
        // JavaScript code to update the total price based on ticket price and quantity
        document.getElementById('quantity').addEventListener('input', function () {
            var quantity = parseInt(this.value);
            var ticketPrice = parseFloat('{{ event.ticket_price }}');
            totalPrice = quantity * ticketPrice;
            if (isNaN(totalPrice) || totalPrice < 0) {
                totalPrice = 0;
            }
            document.getElementById('total_price').value = "$" + totalPrice.toFixed(0);
        });
        // Render the PayPal button into #paypal-button-container
        paypal.Buttons({
            style: {
                color: 'blue',
                shape: 'rect',
                label: 'pay',
                height: 55
            },

            // Call your server to set up the transaction
            createOrder: function (data, actions) {
                return actions.order.create({
                    purchase_units: [{
                        amount: {
                            value: totalPrice,
                            currency_code: 'USD',
                        }
                    }]
                });
            },

            // Call your server to finalize the transaction
            onApprove: function (data, actions) {
                return actions.order.capture().then(function (details) {
                    console.log("Capture result: ", details, JSON.stringify(details, null, 2));
                    var transaction = details.purchase_units[0].payments.captures[0];


                    // Send a POST request to your Django view to save the transaction details
                    fetch('/paypal-transaction-complete/', {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json',
                            'X-CSRFToken': '{{ csrf_token }}'  // Ensure you have access to the CSRF token
                        },
                        body: JSON.stringify({
                            orderID: data.orderID,
                            paymentAmount: transaction.amount.value,
                            event: '{{ event.id }}',
                            ticketID: '{{ event.ticket}}',
                            quantity: document.getElementById('quantity').value,
                            payerID: details.payer.payer_id,
                            payerName: details.payer.name.given_name,
                            payerSurname: details.payer.name.surname,
                            payeeEmail: details.payer.email_address,
                            payeeCountry: details.payer.address.country_code,
                        })
                    }).then(function (response) {
                        // Handle the response as needed
                        if (response.ok) {
                            document.getElementById('success-modal').style.display = 'block';
                        } else {
                            document.getElementById('error-modal').style.display = 'block';
                        }
                    }).catch(function (error) {
                        console.error('Error:', error);
                        // Display error modal with generic error message
                        document.getElementById('error-message').innerText = 'An error occurred while processing your payment.';
                        document.getElementById('error-modal').style.display = 'block';
                    });
                });
            }
        }).render('#paypal-button-container');


    </script>
    {% endif %}
    {% endif %}
    <!-- success and error modal -->
    <div class="modal-wrap" id="success-modal" style="display: none;">
        <div class="modal-overlay" id="modal-overlay"></div>
        <div class="success-modal">
            <div class="modal-content">
                <span id="close-success-modal" class="close">&times;</span>
                <img src="{% static 'assets/success-green-check-mark-icon.webp' %}" alt="success">
                <p>Payment Successful</p>
                <!-- view ticket history in the profile -->
                <a href="{% url 'ticket_history' %}">View Tickets</a>
            </div>
        </div>
    </div>
    <div class="modal-wrap" id="error-modal" style="display: none;">
        <div class="modal-overlay" id="modal-overlay"></div>
        <div class="error-modal">
            <div class="modal-content">
                <span id="close-error-modal" class="close">&times;</span>
                <i class="fas fa-exclamation-circle"></i>
                <p id="error-message">Ticket Purchase Failed</p>
                <a href="{% url 'buy-tickets' event.title %}">Try again</a>
            </div>
        </div>
    </div>


    <script>
        // close the modal when the close button is clicked
        document.getElementById('close-success-modal').addEventListener('click', function () {
            closeModal('success-modal');
        });
        document.getElementById('close-error-modal').addEventListener('click', function () {
            closeModal('error-modal');
        });
        function closeModal(modalId) {
            location.reload();
        }
    </script>
</section>
{% endblock %}