{% extends "base.html" %}
{% load static %}
{% block title %}Buy Ticket | SEMS{% endblock %}
{% block page_title %}Buy Ticket{% endblock %}
{% block css_file_name %}{% static 'css/buy-tickets.css' %}{% endblock %}
{% block menu %}
<li><a href="{% url 'events-categories' %}">Events</a></li>
<li><a href="{% url 'tickets' %}">Tickets</a></li>
{% endblock %}
{% block banner_image_src %}{% static 'assets/full-page-img.jpg' %}{% endblock %}
{% block content %}
<section class="buy-tickets-wrap">
    <div class="buy-tickets">
        <h2>{{ event.title }}</h2>
        <!-- Display relevant event details -->
        <table class="event-details-table">
            {% if event.ticket_price %}
            <tr>
                <td><strong>Ticket Price:</strong></td>
                <td>${{ event.ticket_price|floatformat:0 }} per ticket</td>
            </tr>
            {% else %}
            <tr>
                <td><strong>Ticket Price:</strong></td>
                <td>Free</td>
            </tr>
            {% endif %}
            {% if event.capacity %}
            <tr>
                <td><strong>Event Capacity:</strong></td>
                <td>{{ event.capacity }} seats</td>
            </tr>
            {% endif %}
            <tr>
                <td><strong>Tickets Available:</strong></td>
                <td>
                    {% if event.ticket_available %}
                    <span class="available">Available</span>
                    {% else %}
                    <span class="not-available">Not Available</span>
                    {% endif %}
                </td>
            </tr>
        </table>
    </div>
    {% if event.ticket_price %}
    {% if event.ticket_available %}
    <div class="buy-tickets-form">
        <form action="{% url 'buy-tickets' event.id %}" method="post">
            {% csrf_token %}
            <div class="form-group">
                <label for="quantity">Quantity:</label>
                <!-- get the available quantity of ticket -->
                <input type="number" name="quantity" id="quantity" min="1" max="{{ event.capacity }}" value="1"
                    required>
            </div>
            <!-- total price  -->
            <div class="form-group">
                <label for="total_price">Total Price:</label>
                <input type="text" name="total_price" id="total_price" value="${{ event.ticket_price|floatformat:0 }}"
                    readonly>
            </div>
            <div id="paypal-button-container"></div>
        </form>
    </div>
    {% else %}
    <p class="not-available-message">Tickets for this event not available at the moment.</p>
    {% endif %}
    {% else %}
    <p class="free-ticket-message">This event is free to attend.</p>
    {% endif %}
    {% if event.ticket_price %}
    {% if event.ticket_available %}
    <script src="{% static 'js/buy-tickets.js' %}"></script>
    <script
        src="https://www.paypal.com/sdk/js?client-id=AbSH0Uc8z71rIeTg8ECQP3ObKRNgjVDYMYufDQcI3TZHRaNHXmYlHYP-b-9NyMR8qltZ10uBnYXdILOh&currency=USD"></script>
    <script>
        // get the value from the input field split it and get the second value
        var totalPrice = parseFloat(document.getElementById('total_price').value.split('$')[1]);
        // JavaScript code to update the total price based on ticket price and quantity
        document.getElementById('quantity').addEventListener('input', function () {
            var quantity = parseInt(this.value);
            var ticketPrice = parseFloat('{{ event.ticket_price }}');
            totalPrice = quantity * ticketPrice;
            if (isNaN(totalPrice) || totalPrice < 0) {
                totalPrice = 0;
            }
            document.getElementById('total_price').value = "$" + totalPrice.toFixed(0);
        });
        // Render the PayPal button into #paypal-button-container
        paypal.Buttons({
            style: {
                color: 'blue',
                shape: 'rect',
                label: 'pay',
                height: 55
            },

            // Call your server to set up the transaction
            createOrder: function (data, actions) {
                return actions.order.create({
                    purchase_units: [{
                        amount: {
                            value: totalPrice,
                            currency_code: 'USD',
                        }
                    }]
                });
            },

            // Call your server to finalize the transaction
            onApprove: function (data, actions) {
                return actions.order.capture().then(function (details) {
                    console.log("Capture result: ", details, JSON.stringify(details, null, 2));
                    var transaction = details.purchase_units[0].payments.captures[0];


                    // Send a POST request to your Django view to save the transaction details
                    fetch('/paypal-transaction-complete/', {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json',
                            'X-CSRFToken': '{{ csrf_token }}'  // Ensure you have access to the CSRF token
                        },
                        body: JSON.stringify({
                            orderID: data.orderID,
                            paymentAmount: transaction.amount.value,
                            event: '{{ event.id }}',
                            ticketID: '{{ event.ticket}}',
                            quantity: document.getElementById('quantity').value,
                            payerID: details.payer.payer_id,
                            payerName: details.payer.name.given_name,
                            payerSurname: details.payer.name.surname,
                            payeeEmail: details.payer.email_address,
                            payeeCountry: details.payer.address.country_code,
                        })
                    }).then(function (response) {
                        // Handle the response as needed
                        if (response.ok) {
                            alert('Transaction ' + transaction.status + ': ' + transaction.id + '\n\nSee console for all available details');
                        } else {
                            alert('Transaction failed: ' + transaction.status + '\n\nSee console for all available details');

                        }
                    }).catch(function (error) {
                        console.error('Error:', error);
                    });
                });
            }
        }).render('#paypal-button-container');
    </script>
    {% endif %}
    {% endif %}
</section>
{% endblock %}