{% extends "base.html" %}
{% load static %}
{% block title %}Ticket Purchase{% endblock %}
{% block css_file_name %}{% static 'css/style.css' %}{% endblock %}
{% block page_title %}Ticket Purchase{% endblock %}
{% block banner_image_src %}{% static 'assets/full-page-img.jpg' %}{% endblock %}
{% block menu %}
<li><a href="{% url 'events-categories' %}">Events</a></li>
<li><a href="{% url 'tickets' %}">Tickets</a></li>
{% endblock %}
{% block content %}
<section class="ticket-container">
    <!-- if ticket is available and is not free -->
    {% if tickets %}
    {% for ticket in tickets %}
    {% if ticket.price > 0 %}
    <div class="ticket" style="background-image: url('{{ ticket.event.image.url }}')">
        <!-- overlay -->
        <div class="ticket-overlay"></div>
        <h3><a href="{% url 'event-details' ticket.event.id %}">{{ ticket.event.title }}</a></h3>
        <div class="ticket-details">
            <p>{{ ticket.event.date }}</p>
            <p>{{ ticket.event.start_time }} - {{ ticket.event.end_time }}</p>
            <p>{{ ticket.event.location }}</p>
            <p>${{ ticket.price }}</p>
        </div>
        <a href="{% url 'buy-tickets' ticket.event.title %}" class="buy-ticket-btn">Buy Ticket</a>
    </div>
    {% endif %}
    {% endfor %}
    {% else %}
    <p class="no-ticket-info">No tickets available at the moment.</p>
    {% endif %}
</section>


{% endblock %}