{% extends "base.html" %}
{% load static %}
{% block title %}Ticket Purchase{% endblock %}
{% block css_file_name %}{% static 'css/style.css' %}{% endblock %}
{% block page_title %}Ticket Purchase{% endblock %}
{% block banner_image_src %}{% static 'assets/full-page-img.jpg' %}{% endblock %}
{% block menu %}
<li><a href="{% url 'events-categories' %}">Events</a></li>
<li><a href="{% url 'tickets' %}">Tickets</a></li>
{% endblock %}
{% block content %}
<section class="ticket-container">
    <!-- if ticket is available and is not free -->
    {% if tickets %}
    {% for ticket in tickets %}
    {% if ticket.price > 0 %}
    <div class="ticket-wrap">
        <!-- overlay -->
        <div class="ticket" style="background-image: url('{{ ticket.event.image.url }}')">
            <a href="{% url 'event-details' ticket.event.id %}">{{ ticket.event.title }}</a>
            <div class="ticket-overlay"></div>
        </div>
        <div class="ticket-details">
            <p>Date: {{ ticket.event.date }}</p>
            <p>Time: {{ ticket.event.start_time }} - {{ ticket.event.end_time }}</p>
            <p>Location: {{ ticket.event.location }}</p>
            <div class="price-and-buy">
                <p class="ticket-price">${{ ticket.price }}</p>
                <a href="{% url 'buy-tickets' ticket.event.title %}" class="buy-ticket-btn">Buy Ticket</a>
            </div>
        </div>
    </div>
    {% endif %}
    {% endfor %}
    {% else %}
    <p class="no-ticket-info">No tickets available at the moment.</p>
    {% endif %}
</section>


{% endblock %}