{% extends "base.html" %}
{% load static %}
{% block title %}Events Categories{% endblock %}
{% block page_title %}Events Categories{% endblock %}
{% block css_file_name %}{% static 'css/events-and-tickets.css' %}{% endblock %}
{% block menu %}
<li><a href="{% url 'events-categories' %}">Events</a></li>
<li><a href="{% url 'tickets' %}">Tickets</a></li>
{% endblock %}
{% block banner_image_src %}{% static 'assets/events-categories-banner.webp' %}{% endblock %}
{% block content %}
<div class="event-category-wrap">
    {% for category in categories %}
    <a href="{% url 'events' category_name=category.name %}" class="event-cat-card"
        style="background-image: url('{{ category.image.url }}')">
        <div class="overlay"></div>
        <!-- number of events -->
        <h3>{{ category.name }}</h3>
        <p>{{ category.event_set.count }} Events</p>
        
    </a>
    {% endfor %}
</div>
{% endblock %}