{% extends "base.html" %}
{% load static %}
{% block title %}Event Details{% endblock %}
{% block page_title %}Event Details{% endblock %}
{% block css_file_name %}{% static 'css/events-and-tickets.css' %}{% endblock %}
{% block menu %}
<li><a href="{% url 'events-categories' %}">Events</a></li>
<li><a href="{% url 'tickets' %}">Tickets</a></li>
{% endblock %}
{% block banner_image_src %}{{ event.image.url }}{% endblock %}
{% block content %}
<div class="event-details-wrap">
    <div class="event-details">
        <h3 class="event-title">{{ event.title }}</h3>
        <div class="event-info">
            <p class="event-description">{{ event.description|striptags }}</p>
            <div class="event-meta">
                <table>
                    <tr>
                        <td><strong>Date:</strong></td>
                        <td>{{ event.date }}</td>
                    </tr>
                    <tr>
                        <td><strong>Time:</strong></td>
                        <td>{{ event.start_time }} - {{ event.end_time }}</td>
                    </tr>
                    <tr>
                        <td><strong>Location:</strong></td>
                        <td>{{ event.location }}</td>
                    </tr>
                    <tr>
                        <td><strong>Category:</strong></td>
                        <td>{{ event.category }}</td>
                    </tr>
                    <!-- Additional Fields -->
                    {% if event.ticket_price %}
                    <tr>
                        <td><strong>Ticket Price:</strong></td>
                        <td>${{ event.ticket_price }}</td>
                    </tr>
                    {% endif %}
                    <tr>
                        <td><strong>Ticket Availability:</strong></td>
                        <td>{% if event.ticket_available %}Available{% else %}Sold Out{% endif %}</td>
                    </tr>
                    {% if event.capacity %}
                    <tr>
                        <td><strong>Event Capacity:</strong></td>
                        <td>{{ event.capacity }}</td>
                    </tr>
                    {% endif %}
                    {% if event.dress_code %}
                    <tr>
                        <td><strong>Dress Code:</strong></td>
                        <td>{{ event.dress_code }}</td>
                    </tr>
                    {% endif %}
                    {% if event.event_type %}
                    <tr>
                        <td><strong>Event Type:</strong></td>
                        <td>{{ event.event_type }}</td>
                    </tr>
                    {% endif %}
                    {% if event.special_guests %}
                    <tr>
                        <td><strong>Special Guests/Speakers:</strong></td>
                        <td>{{ event.special_guests }}</td>
                    </tr>
                    {% endif %}
                    {% if event.parking_info %}
                    <tr>
                        <td><strong>Parking Information:</strong></td>
                        <td>{{ event.parking_info }}</td>
                    </tr>
                    {% endif %}
                    {% if event.transportation_options %}
                    <tr>
                        <td><strong>Transportation Options:</strong></td>
                        <td>{{ event.transportation_options }}</td>
                    </tr>
                    {% endif %}
                    {% if event.accessibility_info %}
                    <tr>
                        <td><strong>Accessibility Information:</strong></td>
                        <td>{{ event.accessibility_info }}</td>
                    </tr>
                    {% endif %}
                    {% if event.food_and_beverage %}
                    <tr>
                        <td><strong>Food and Beverage:</strong></td>
                        <td>{{ event.food_and_beverage|striptags }}</td>
                    </tr>
                    {% endif %}
                    {% if event.rules_and_regulations %}
                    <tr>
                        <td><strong>Event Rules and Regulations:</strong></td>
                        <td>{{ event.rules_and_regulations }}</td>
                    </tr>
                    {% endif %}
                    {% if event.sponsors %}
                    <tr>
                        <td><strong>Event Sponsors:</strong></td>
                        <td>{{ event.sponsors }}</td>
                    </tr>
                    {% endif %}
                    <tr>
                        <td><strong>Organizer:</strong></td>
                        <td>
                            <!-- learn more  -->
                            <a href="{% url 'organizer-details' organizer_name=event.organizer %}"
                                class="learn-more">{{event.organizer }}
                                <svg stroke="currentColor" fill="currentColor" stroke-width="0" viewBox="0 0 16 16"
                                    height="1em" width="1em" xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd"
                                        d="M6.5 4a.5.5 0 01.5-.5h5a.5.5 0 01.5.5v5a.5.5 0 01-1 0V4.5H7a.5.5 0 01-.5-.5z"
                                        clip-rule="evenodd"></path>
                                    <path fill-rule="evenodd"
                                        d="M12.354 3.646a.5.5 0 010 .708l-9 9a.5.5 0 01-.708-.708l9-9a.5.5 0 01.708 0z"
                                        clip-rule="evenodd"></path>
                                </svg>
                            </a>
                        </td>

                    </tr>
                </table>
            </div>
            <a href="{% url 'buy-tickets' event_name=event.title %}" class="buy-tickets-btn">Buy Tickets</a>
        </div>
    </div>
</div>
{% endblock %}