{% extends "base.html" %}
{% load static %}
{% block css_file_name %}{% static 'css/style.css' %}{% endblock %}
{% block title %}Work History | SEMS{% endblock %}
{% block page_title %}Work History{% endblock %}
{% block menu %}
{% include 'profile/sidebar.html' %}
{% endblock %}
{% block content %}
<section class="main-section">
    <div class="main-container">
        <div class="main-content staff-profile">
            <table>
                <thead>
                    <tr>
                        <th>Event</th>
                        <th>Position</th>
                        <th>Date</th>
                        <th>Start Time</th>
                        <th>End Time</th>
                    </tr>
                </thead>
                <tbody>
                    {% if not vacancies %}
                    <tr>
                        <td colspan="5">No work history.</td>
                    </tr>
                    {% endif %}
                    {% for vacancy in vacancies %}
                    <tr>
                        <td>{{ vacancy.event.title }}</td>
                        <td>{{ vacancy.position.position }}</td>
                        <td>{{ vacancy.date }}</td>
                        <td>{{ vacancy.start_time }}</td>
                        <td>{{ vacancy.end_time }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</section>
{% endblock %}