* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

header {
  background-color: rgba(0, 0, 0, 0.1);
  position: absolute;
  width: 100%;
  z-index: 1000;
  transition: all 0.3s ease;
  backdrop-filter: blur(10px);
}
header .wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 0;
  max-width: 1180px;
  margin: 0 auto;
  width: 100%;
}
header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header nav ul {
  display: flex;
  justify-content: space-between;
}
header nav ul li {
  list-style: none;
  margin-left: 20px;
}
header nav ul li a {
  text-decoration: none;
  color: #f1f1f1;
  font-size: 18px;
  transition: all 0.3s ease;
  font-family: "Source Sans Pro", sans-serif;
  padding-bottom: 10px;
  position: relative;
  border-bottom: 0 solid transparent;
}
header nav ul li a:hover {
  border-bottom: 1px solid #00be9c;
  transition: border-bottom 0.3s ease-in-out;
}

header .logo a img {
  max-width: 300px;
  width: 100%;
}
header .btn {
  margin-left: 20px;
  cursor: pointer;
}
header .btn a {
  transition: all 0.3s ease;
  border-radius: 50px;
  font-weight: 500;
  padding: 15px 30px;
  background-color: #00be9c;
  text-decoration: none;
  color: #fff;
  font-size: 18px;
}
/* <div class="user-profile">
                <a href="{% url 'profile' %}">
                    <div class="username">
                        <span>{{ user.first_name }}</span>
                    </div>
                    <div class="profile-picture">
                        <img src="{% if user.profile.profile_picture %}{{ user.profile.profile_picture.url }}{% else %}{% static 'assets/profile.svg' %}{% endif %}"
                            alt="Profile Picture">
                    </div>
                </a>
            </div> */

.user-profile {
  cursor: pointer;
  margin-left: 20px;
}
.user-profile a {
  text-decoration: none;
  color: #00be9c;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.user-profile a .username {
  font-size: 22px;
  font-weight: 400;
}

.full-page-image {
  width: 100%;
  height: 100vh;
}
.full-page-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.banner-image {
  width: 100%;
  height: 450px;
  position: relative;
}
.banner-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.banner-image h1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  font-size: 40px;
  font-weight: 700;
  font-family: "Source Sans Pro", sans-serif;
}
.banner-image h1::after {
  content: "";
  display: block;
  width: 100px;
  height: 5px;
  background-color: #00be9c;
  margin: 10px auto;
}

/* background overlay */
.banner-image::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

/* Footer */
footer {
  background-color: #2a2a2a;
  padding: 50px 0;
  margin-top: 60px;
}
footer .wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  gap: 30px;
}
.follow-link p {
  color: #fff;
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
  font-family: "Source Sans Pro", sans-serif;
}
.follow-link a {
  text-decoration: none;
  color: #fff;
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
  font-family: "Source Sans Pro", sans-serif;
}

footer .img-side-by-side {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding-bottom: 30px;
  border-bottom: 1px solid #000;
  width: 100%;
  flex-wrap: wrap;
  gap: 20px;
}
footer .img-side-by-side img {
  width: 250px;
  height: 250px;
  margin: 0 10px;
}

.copy-right p {
  color: #fff;
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
  font-family: "Source Sans Pro", sans-serif;
}
