* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

/* events */
section.events {
  background-color: #f3f3f3;
  position: relative;
  min-height: 200px;
}
.events-wrap {
  position: absolute;
  top: -160px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 60px;
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
}

@media (max-width: 768px) {
  .events-wrap {
    position: relative;
  }
}

.events-wrap .events-card {
  width: 667px;
  min-height: 320px;
  position: relative;
  border-radius: 5px;
  overflow: hidden;
  display: flex;
  background-color: #fff;
  box-shadow: 0 28px 57px 28px rgba(53, 53, 53, 0.31);
  flex-wrap: wrap;
}

@media (max-width: 768px) {
  .events .events-wrap .image,
  .events .events-wrap .details {
    width: 100%;
  }
}
.events-wrap .image {
  width: 50%;
  height: auto;
}

.events-wrap .events-card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.events-wrap .details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  position: relative;
  width: 50%;
  min-height: 250px;
  height: auto;
}

.event-date {
  position: absolute;
  top: 30px;
  left: 0;
  width: 100%;
  font-size: 14px;
  font-weight: 600;
  color: #f1f1f1;
  background-color: #6c6c6c;
  max-width: 165px;
  width: 100%;
  padding: 10px 15px;
  text-align: center;
}
.details h3 {
  font-size: 32px;
  font-weight: 400;
  margin-bottom: 10px;
  background-color: transparent;
  color: #272727;
  font-size: 36px;
  font-weight: 600;
  line-height: 1.3;
  padding: 22px;
}
.details .btns {
  position: absolute;
  bottom: 24px;
  left: 22px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
  margin-top: 20px;
  font-size: 18px;
  font-weight: 600;
}

.details .btns .primary-btn {
  text-decoration: none;
  color: #f1f1f1;
  background-color: #00be9c;
  padding: 15px 25px;
  border-radius: 50px;
}
.details .btns .primary-btn:hover {
  background-color: #00a17c;
}

.details .btns .secondary-btn {
  text-decoration: none;
  color: #00be9c;
}

.details .btns .secondary-btn:hover {
  color: #00a17c;
}

.upcoming-events h2 {
  font-size: 40px;
  font-weight: 600;
  line-height: 1.2;
  padding-bottom: 20px;
  text-align: center;
}
.upcoming-events h2::after {
  content: "";
  display: block;
  width: 100px;
  height: 4px;
  background-color: #00be9c;
  margin: 20px auto 0;
}
.upcoming-events {
  background-color: #f3f3f3;
  padding: 60px 0;
}

.event-card-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 1180px;
  width: 100%;
  margin: 40px auto;
  flex-wrap: wrap;
  gap: 60px;
}

.event-card {
  width: 300px;
  height: 355px;
  position: relative;
}

.event-card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.event-card h3 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  max-height: 120px;
  height: 100%;
  padding: 15px;
  background-color: rgba(0, 0, 0, 0.8);
  color: #f3f3f3;
  font-size: 24px;
  font-weight: 600;
  line-height: 1.5;
}

.event-card a {
  position: absolute;
  left: 50%;
  bottom: -24px;
  transform: translate(-50%, 0);
  text-decoration: none;
  color: #f1f1f1;
  background-color: #00be9c;
  padding: 15px 25px;
  border-radius: 50px;
  font-size: 16px;
  font-weight: 600;
}

.event-card a:hover {
  background-color: #00a17c;
}
.upcoming-events .btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 40px;
}

.upcoming-events .btn a {
  text-decoration: none;
  color: #f1f1f1;
  background-color: #ef2b2b;
  padding: 15px 25px;
  border-radius: 50px;
  font-size: 24px;
  font-weight: 400;
}

.about {
  background-color: #f3f3f3;
  padding: 80px 0;
  position: relative;
  min-height: 200px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.about-wrap {
  display: flex;
  justify-content: start;
  align-items: center;
  max-width: 1180px;
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
  gap: 60px;
  flex-wrap: wrap;
}
@media (max-width: 768px) {
  .about-wrap {
    justify-content: center;
  }
  .about-wrap .about-text {
    width: 100%;
  }
}

.about-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 1;
}
.about-text {
  width: 50%;
  color: #f1f1f1;
  position: relative;
  z-index: 2;
}
.about-text h2 {
  font-size: 50px;
  font-weight: 600;
  line-height: 1.2;
  margin-bottom: 5px;
}

.about-text p {
  font-size: 18px;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  letter-spacing: 0.5px;
  line-height: 1.5;
  margin-top: 20px;
}

.more-info {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
  margin-top: 80px;
}

.ticket-purchase-success-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  padding: 80px 20px;
}

.ticket-purchase-success{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}

.ticket-purchase-success i{
  font-size: 60px;
  color: #00be9c;

}
.ticket-purchase-success h2 {
  font-size: 32px;
  font-weight: 600;
  line-height: 1.2;
  text-align: center;
}

.ticket-purchase-success p {
  font-size: 18px;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  letter-spacing: 0.5px;
  line-height: 1.5;
  text-align: center;
}

.ticket-purchase-success-wrap .btn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin-top: 20px;
}

.ticket-purchase-success-wrap .btn a {
  text-decoration: none;
  color: #f1f1f1;
  background-color: #00be9c;
  padding: 15px 25px;
  border-radius: 50px;
  font-size: 20px;
  font-weight: 400;
}

.ticket-purchase-success-wrap .btn a:hover {
  background-color: #00a17c;
}

@media (max-width: 768px) {
  .ticket-purchase-success-wrap .btn a {
    font-size: 15px;
  }
  .ticket-purchase-success-wrap .btn{
    gap: 10px;
  }
}