.ticket-purchase-wrap {
  max-width: 1580px;
  width: 100%;
  margin: 60px auto;
  padding: 0 20px;
}

.ticket-purchase-wrap h2 {
  font-size: 28px;
  font-weight: 600;
  line-height: 1.3;
  color: #272727;
  text-align: center;
  padding: 10px 0;
  margin-bottom: 40px;
}

.ticket-purchase-wrap h2::after {
  content: "";
  display: block;
  width: 100px;
  height: 4px;
  background-color: #00be9c;
  margin: 4px auto 0;
}

.ticket-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-bottom: 40px;
}

.ticket-list ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  justify-content: center;
}

.ticket-list ul li {
  padding: 25px;
  border: 1px solid #e0e0e0;
  border-radius: 5px;
  max-width: 350px;
  width: 100%;
  margin-left: 0;
  box-shadow: 7px 7px 0px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.ticket-list ul li h3 {
  margin-bottom: 15px;
  font-size: 24px;
  font-weight: 600;
  color: #333;
}

.ticket-list ul li p {
  font-size: 16px;
  color: #666;
  line-height: 1.4;
}

.ticket-actions {
  display: flex;
  align-items: center;
  margin-top: 20px;
  gap: 10px;
}

.ticket-actions a {
  padding: 10px 20px;
  border: 1px solid #e0e0e0;
  border-radius: 5px;
  text-decoration: none;
  font-size: 16px;
  transition: all 0.3s ease;
}

.buy-ticket-btn {
  background-color: #00be9c;
}
.view-event-btn {
  background-color: #fff;
  color: #00be9c;
}

.buy-ticket-btn:hover {
  background-color: #00a88f;
  color: #fff;
}
