.buy-tickets-wrap {
  max-width: 750px;
  width: 100%;
  margin: 60px auto;
}
.buy-tickets h2 {
  font-size: 28px;
  font-weight: 600;
  line-height: 1.3;
  color: #272727;
  text-align: center;
  padding: 10px 0;
  background-color: #fff;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.event-details-table{
  width: 100%;
  margin: 20px 0;
  border-collapse: collapse;
  border-spacing: 0;
  border: 1px solid #e0e0e0;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  overflow: hidden;
  background-color: #fff;
}

.event-details-table th, .event-details-table td {
  padding: 15px;
  text-align: left;
  border-bottom: 1px solid #e0e0e0;
}

.event-details-table th {
  background-color: #f5f5f5;
  font-weight: 600;
  color: #272727;
}

.event-details-table tr:last-child td {
  border-bottom: none;
}

.event-details-table tr:nth-child(odd) {
  background-color: #f9f9f9;
}

.event-details-table tr:nth-child(even) {
  background-color: #fff;
}

.not-available-message,.free-ticket-message{
  margin: 20px 0;
  padding: 20px;
  border: 1px solid #e0e0e0;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  background-color: #fff;
  text-align: center;
  font-size: 22px;
  font-family: Roboto, sans-serif;
}

.buy-tickets-form{
  margin: 20px 0;
  padding: 20px;
  border: 1px solid #e0e0e0;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  background-color: #fff;
}
.form-group{
  margin-bottom: 20px;

}

.form-group label{
  display: block;
  font-size: 16px;
  font-weight: 600;
  color: #272727;
  margin-bottom: 10px;
}

.form-group input[type="text"], .form-group input[type="email"], .form-group input[type="number"], .form-group select{
  width: 100%;
  padding: 15px;
  border: 1px solid #e0e0e0;
  border-radius: 4px;
  font-size: 16px;
  color: #272727;
  background-color: #fff;
  box-shadow: none;
  outline: none;
}

.form-group input[type="text"]:focus, .form-group input[type="email"]:focus, .form-group input[type="number"]:focus, .form-group select:focus{
  border-color: #818181;
}

.form-group select{
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-image: url('data:image/svg+xml;utf8,<svg fill="%23272727" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg"><path d="M7 10l5 5 5-5z"/><path d="M0 0h24v24H0z" fill="none"/></svg>');
  background-repeat: no-repeat;
  background-position: right 10px top 50%;
  background-size: 24px;
}

#paypal-button-container{
  margin: 0 auto;
}

@media (max-width: 767px){
  
  .buy-tickets h2{
    font-size: 24px;
  }
}