.ticket-container {
  max-width: 1240px;
  width: 100%;
  margin: 60px auto;
  padding: 0 20px;
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
}


.ticket-container h2 {
  font-size: 28px;
  font-weight: 600;
  line-height: 1.3;
  color: #272727;
  text-align: center;
  padding: 10px 0;
  margin-bottom: 40px;
}

.ticket-wrap {
  width: calc(50% - 20px);
  position: relative;
  color: #f9f9f9;
}

.tickets{
  position: relative;
  padding: 30px;
  border-radius: 5px;
  overflow: hidden;
}

.ticket-wrap:nth-child(odd) .tickets {
  background-color: #ff4646;
  color: #272727;
}
.ticket-wrap:nth-child(even) .tickets {
  background-color:#fc892a;
}

.tickets h3 {
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 10px;
  position: relative;
}

.tickets p {
  font-size: 18px;
  position: relative;
  line-height: 1.5;
}

.ticket-actions {
  display: flex;
  align-items: center;
  margin-top: 20px;
  gap: 10px;
  position: relative;
}

.ticket-actions a {
  padding: 10px 20px;
  border: 1px solid #e0e0e0;
  border-radius: 5px;
  text-decoration: none;
  font-size: 16px;
  transition: all 0.3s ease;
}

.buy-ticket-btn {
}
.view-event-btn {
}


.no-ticket-info{
  text-align: center;
  font-size: 20px;
  color: #272727;
  margin-top: 20px;
  width: 100%;
}

@media screen and (max-width: 768px) {
  .ticket-wrap {
    width: 100%;
  }
}